html,
body {
  background-color: #2897ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#viz {
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  background-color: transparent;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: all 0.5s ease-in-out;
}
.circle:hover {
  background-color: rgba(256, 256, 256, 0.3);
}

.mic {
  padding-top: 5px;
  vertical-align: middle;
}
